body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: rgb(189, 183, 183);
}

canvas {
    background-color: black;
    z-index: 1;
}

.backgroundStartScreen {
    height: 480px;
    width: 720px;
    object-fit: cover;
}

#startScreen {
    height: 480px;
    width: 720px;
    z-index: 1;
    position: fixed;
    display: flex;
}

.background {
    object-fit: cover;
    width: 100%;
    position: fixed;
}

.topSide {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.startBtn {
    height: 7vh;
    position: absolute;
    margin-left: 262px;
    margin-top: 250px;
    cursor: pointer;
}

.content {
    height: 580px;
    width: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.gameScreen {
    display: flex;
}

.arrowKey {
    display: flex;
    align-items: center;
    background-color: #ff9800;
    border-radius: 10px;
}

.arrowImg {
    height: 7vh;
    margin-right: 20px;
    margin-left: 10px;
}

.moveTitle {
    height: 3vh;
    width: 20vh;
    margin-right: 20px;
}

.keys img {
    height: 4vh;
    display: flex;
    object-fit: contain;
}

.keys {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.atackKey {
    display: flex;
    background-color: #f44336;
    align-items: center;
    border-radius: 10px;
}

.atackTitle {
    height: 3vh;
    margin-left: 10px;
    margin-right: 10px;
}

.top {
    height: 5vh;
    width: 100%;
}

.iconFullScreen {
    height: 5vh;
    cursor: pointer;
}

.fullScreen {
    display: flex;
    justify-content: flex-end;
}

.handbook {
    height: 15vh;
    cursor: pointer;
}

.handbook:hover {
    height: 17vh;
}

.d-none {
    display: none !important;
}

.bottom {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#gameExplanation {
    width: 80%;
    height: 90vh;
    z-index: 3;
    background-color: #000000;
    position: absolute;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

h1 {
    color: white;
    text-align: center;
}

.spaceBar {
    height: 5vh;
    margin-left: 10px;
    margin-right: 20px;
}

.atackWithSpace {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.keyD {
    height: 5vh;
    margin-left: 10px;
    margin-right: 20px;
}

.atackWithBubble {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.bubbleAtackTitle {
    height: 12vh;
    margin-left: 10px;
    margin-right: 10px;
}

.specialBubble {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.spaceAndD {
    height: 13vh;
    margin-left: 10px;
    margin-right: 90px;
}

.specialAtack {
    height: 14vh;
    margin-left: -150px;
    margin-right: 10px;
}

h2 {
    color: #f6f6f6;
    font-size: 2em;
}

.pufferFish {
    height: 9vh;
    object-fit: cover;
    margin-left: 30px;
}

.jellyFish {
    height: 15vh;
    border-radius: 30px;
    margin-left: 30px;
}

.endBoss {
    height: 25vh;
    margin-left: 30px;
}

.closeButton {
    height: 8vh;
    object-fit: cover;
    position: absolute;
    margin-left: 65vw;
    cursor: pointer;
}

.responsive {
    display: none;
}

.titleSpecialBubble {
    display: flex;
    flex-direction: column;
}

#newStart {
    position: absolute;
    z-index: 2;
    height: 6vh;
    margin-left: 17vw;
    margin-top: 35vh;
    cursor: pointer;
}

.sound_icon {
    height: 12vh;
    margin-top: 2vh;
}

.soundMenu {
    display: flex;
    justify-content: center;
    border-top: 3px solid #ffffff;
}

.soundSettings {
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;
    cursor: pointer;
}

.soundSettings img {
    background-color: #2196f3;
    height: 8vh;
}

.musicSettings {
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;
    cursor: pointer;
}

.musicSettings img {
    background-color: #f44336;
    height: 8vh;
}

@media (max-width: 1024px) {
    .background {
        width: fit-content;
        opacity: 0.2;
    }
    .iconFullScreen {
        display: none;
    }
    .top {
        display: none;
    }
    .handbook {
        display: none;
    }
    .startBtn {
        display: none;
    }
    canvas {
        display: none;
    }
    #startScreen {
        display: none;
    }
    .responsive {
        display: block;
        height: 100%;
        /* width: 100%; */
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 3;
        align-items: center;
        margin-top: 5vh;
        align-items: center;
        justify-content: center;
    }
    .responsive img {
        height: 20vh;
        object-fit: cover;
    }
    .responsive h1 {
        font-size: 5em;
        color: #e42f2f;
    }
    .content {
        display: none;
    }
}